# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Environment files
.env
.env.local
*.pem
*.key

# Git / IDE
.git
.gitignore
.vscode
.idea
.DS_Store

# Docker files
Dockerfile
docker-compose.yml
docker-compose.override.yml

# Logs
*.log

# Build artifacts
dist
build
coverage
